<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="../../../css/style.css">

  <title>Occasum</title>
</head>

<body>
  <div id="app" data-v-app="">
    <div class="window-topbar">
      <div><img src="/usr/share/icons/Fluent-teal-dark/scalable/apps/configurator.svg" class="img-fluid win-icon"></div>
      <div class="">Occasum</div>
      <div><a class="win-button" href="#">_</a><a class="win-button" href="#">[]</a><a class="win-button" href="#">X</a>
      </div>
    </div>
    <div class="window">
      <div class="flex">
        <div class="sidebar">
          <a href="#" class="d-flex text-decoration-none align-items-center text-center">
            Vasak
          </a>
          <a href="#" class="sidebar-button">
            <img src="/usr/share/icons/Fluent-teal-dark/scalable/apps/help-info.svg" class="img-fluid">
          </a>
          
          <a href="#" class="sidebar-button">
            <img src="/usr/share/icons/Fluent-teal-dark/scalable/apps/style.svg" class="img-fluid">
          </a>
          <a href="#" class="sidebar-button">
            <img src="/usr/share/icons/Fluent-teal-dark/scalable/apps/networkmanager.svg" class="img-fluid">
          </a>

        </div>
        <div class="p-3 col side-content-area">
          <div>
            <h1>Info</h1>
            <div class="info-table">
              <table class="table">
                <tbody>
                  <tr>
                    <th scope="row">os</th>
                    <td>EndeavourOS</td>
                  </tr>
                  <tr>
                    <th scope="row">system</th>
                    <td>Linux</td>
                  </tr>
                  <tr>
                    <th scope="row">kernel</th>
                    <td>6.7.5-arch1-1</td>
                  </tr>
                  <tr>
                    <th scope="row">machine</th>
                    <td>x86_64</td>
                  </tr>
                  <tr>
                    <th scope="row">architecture</th>
                    <td>64bit</td>
                  </tr>
                  <tr>
                    <th scope="row">uname</th>
                    <td>TUFMaster</td>
                  </tr>
                  <tr>
                    <th scope="row">ram</th>
                    <td>32</td>
                  </tr>
                  <tr>
                    <th scope="row">cpu</th>
                    <td>AMD Ryzen 5 5600 6-Core Processor</td>
                  </tr>
                  <tr>
                    <th scope="row">gpu</th>
                    <td>Advanced Micro Devices, Inc. [AMD/ATI] Navi 22 [Radeon RX 6700/6700 XT/6750
                      XT / 6800M/6850M XT] (rev c5)</td>
                  </tr>
                  <tr>
                    <th scope="row">hostname</th>
                    <td>TUFMaster</td>
                  </tr>
                  <tr>
                    <th scope="row">username</th>
                    <td>pato</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="win-edge win-edge-top"></div>
      <div class="win-edge win-edge-left"></div>
      <div class="win-edge win-edge-right"></div>
      <div class="win-edge win-edge-bottom"></div>
      <div class="win-edge win-edge-topleft"></div>
      <div class="win-edge win-edge-bottomleft"></div>
      <div class="win-edge win-edge-topright"></div>
      <div class="win-edge win-edge-bottomright"></div>
    </div>
  </div>


</body>

</html>