<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="../../../css/style.css">

  <title>Occasum</title>
</head>

<body>
  <div id="app" data-v-app="">
    <div class="window-topbar">
      <div><img src="/usr/share/icons/Fluent-teal-dark/scalable/apps/configurator.svg" class="img-fluid win-icon"></div>
      <div>Occasum</div>
      <div><a class="win-button" href="#">_</a><a class="win-button" href="#">[]</a><a class="win-button" href="#">X</a>
      </div>
    </div>
    <div class="window">
      <div class="flex">
        <div class="sidebar"><a href="#" class="sidebar-button"><img
              src="/usr/share/icons/Fluent-teal-dark/scalable/apps/help-info.svg" class="img-fluid"></a><a href="#"
            class="sidebar-button"><img src="/usr/share/icons/Fluent-teal-dark/scalable/apps/style.svg"
              class="img-fluid"></a><a href="#" class="sidebar-button"><img
              src="/usr/share/icons/Fluent-teal-dark/scalable/apps/networkmanager.svg" class="img-fluid"></a>
        </div>
        <div class="p-3 col side-content-area">
          <div class="ocassum-network">
            <div class="ocassum-network-status-card">
              <div class="ocassum-network-status-card-icon"><img
                  src="/usr/share/icons/Fluent-teal-dark/symbolic/status/network-wired-symbolic.svg" alt="Network icon">
              </div>
              <h2>enp4s0 <span class="network-status connected">&nbsp;</span></h2>
              <p>Conexión cableada 1</p>
              <div>
                <p>192.168.0.217</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="win-edge win-edge-top"></div>
      <div class="win-edge win-edge-left"></div>
      <div class="win-edge win-edge-right"></div>
      <div class="win-edge win-edge-bottom"></div>
      <div class="win-edge win-edge-topleft"></div>
      <div class="win-edge win-edge-bottomleft"></div>
      <div class="win-edge win-edge-topright"></div>
      <div class="win-edge win-edge-bottomright"></div>
    </div>
  </div>




</body>

</html>