#menu {
  background: var(--system-background);
  border-radius: var(--system-border);
  bottom: 0;
  height: 100vh;
}

#menu-content {
  height: calc(100vh - 80px);
  overflow-y: scroll;
  background: var(--system-background);
  border-radius: var(--system-border);
  padding: 5px;
}

#menu-category {
  background: var(--system-background);
  border-radius: var(--system-border);
  padding: 5px;
}

.vsk-profile-picture {
  border-radius: 50%;
  height: 36px;
}

.btn-session {
  background: var(--system-background) !important;
  padding: 3px;
  margin-left: 5px;
  margin-right: 5px;
}

.form-control {
  background: var(--system-background);
  color: var(--system-font-color);
  margin-top: 10px;
  border: 1px solid var(--system-color);
  border-radius: var(--system-border);

  &:focus {
    background: var(--system-background);
    color: var(--system-font-color);
  }
}

.input-group-text {
  background: var(--system-color);
  color: var(--system-background);
  margin-top: 10px;
  border: 1px solid var(--system-color);
  border-radius: var(--system-border);
}

.name-app {
  color: var(--system-font-color);
  font-size: 12px;
}

.btn-app,
.nav-fill .nav-item .nav-link,
.nav-justified .nav-item .nav-link {
  border-radius: var(--system-border);
}

.btn-app:hover {
  background: var(--system-color);
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background: var(--system-color);
}

.app-card {
  cursor: pointer;
  margin-bottom: 10px;
  border-radius: var(--system-border);
  padding: 3px;

  &:hover {
    background-color: var(--system-background);
  }
}

.app-card-image {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--system-border);
}

.app-card-info {
  padding: 6px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.session-card {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: initial;
}

.user-card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: initial;
}

.widget-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 6px;
  border-radius: var(--system-border);
  background: var(--system-background);
}

.temp-text {
  display: flex;
  align-self: center;
  justify-content: center;
}
