#video-background {
	width: 100vw;
	height: 100vh;
	object-fit: cover;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
}

/* Clock */

.clock-warp {
	width: 1000px;
	font-size: 18px;
	bottom: 50px;
	position: absolute;
	left: calc(50% - 232px);
	opacity: 0.6;
}

.clock-widget {
	width: 40%;
	margin: 2em;

	span {
		display: inline-block;
		line-height: 1em;
	}
}

.clock-date {
	font-size: 1.5em;
	font-weight: 600;
	color: var(--system-font-color);
	background: var(--system-background);
	border-radius: var(--system-border);
	margin-bottom: 5px;
	padding: 20px;
	width: 100%;
}

.clock-time {
	color: var(--system-font-color);
	background: var(--system-background);
	border-radius: var(--system-border);
	padding: 20px;
	font-size: 4em;
	width: 100%;

	.clock-time-box {
		display: inline-block;

		.clock-time-am-pm,
		.clock-time-seconds {
			font-size: 2rem;
			display: block;
		}
	}
}
