<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="../../../css/style.css">

  <title>Hydriam</title>
</head>

<body>
  <div id="menu" class="hydriam" data-v-app="">
    <div id="user-info" class="hydriam-user
    src=" file:///home/pato/.face" alt="user"></div>
    <div class="hydriam-search"><input type="text" class="form-control" placeholder="Search" aria-label="Search"
        id="search"></div>
    <div class="hydriam-session"><a title="Shutdown" href="#"><img
          src="file:///mnt/FAD49A00D499BEF7/Code/VasakOS/hydriam/ui/dist/assets/shutdown-274d06ae.svg"
          alt="Shutdown"></a><a title="Reboot" href="#"><img
          src="file:///mnt/FAD49A00D499BEF7/Code/VasakOS/hydriam/ui/dist/assets/reboot-1c89815d.svg" alt="Reboot"></a><a
        title="Logout" href="#"><img
          src="file:///mnt/FAD49A00D499BEF7/Code/VasakOS/hydriam/ui/dist/assets/logout-d98fdd39.svg" alt="Logout"></a><a
        title="Suspend" href="#"><img
          src="file:///mnt/FAD49A00D499BEF7/Code/VasakOS/hydriam/ui/dist/assets/suspend-a5ad60dd.svg" alt="Suspend"></a>
    </div>
    <div class="hydriam-search-results">
      <button title="Cheese">
        <img src="file:///usr/share/icons/Fluent-teal-dark/scalable/apps/org.gnome.Cheese.svg" class="img-fluid"
          style="width: 100%;">
        <span class="name-app text-center" style="display: none;">Cheese</span>
        <span class="text-muted" style="display: none;">Tome fotografías y
          vídeos con su cámara web, con divertidos efectos gráficos</span>
        <span style="display: none;">foto vídeo
          cámara web cámara selfie</span>
      </button>
      <button data-bs-toggle="tooltip" data-bs-placement="top" title="Discord">
        <img src="file:///usr/share/icons/Fluent-teal-dark/scalable/apps/discord.svg" class="img-fluid"
          style="width: 100%;">
        <span class="name-app text-center" style="display: none;">Discord</span>
        <span class="text-muted" style="display: none;">All-in-one voice and text chat for gamers that s free, secure,
          and works on both your desktop and phone.</span>
        <span style="display: none;"></span>
      </button>
      <button title="FileZilla">
        <img src="file:///usr/share/icons/Fluent-teal-dark/scalable/apps/filezilla.svg" class="img-fluid"
          style="width: 100%;">
        <span class="name-app text-center" style="display: none;">FileZilla</span>
        <span class="text-muted" style="display: none;">Download and upload
          files via FTP, FTPS and SFTP</span>
        <span style="display: none;"></span>
      </button>
      <button data-bs-toggle="tooltip" data-bs-placement="top" title="FreeOffice Presentations"><img
          src="file:///usr/share/icons/Fluent-teal-dark/scalable/apps/freeoffice-presentations.svg" class="img-fluid"
          style="width: 100%;"><span class="name-app text-center" style="display: none;">FreeOffice
          Presentations</span><span class="text-muted" style="display: none;">The SoftMaker Presentations software lets
          you design any kind of presentation -
          even including special effects, animations, and transitions.</span><span
          style="display: none;"></span></button>
      <button data-bs-toggle="tooltip" data-bs-placement="top" title="FreeOffice TextMaker"><img
          src="file:///usr/share/icons/Fluent-teal-dark/scalable/apps/freeoffice-textmaker.svg" class="img-fluid"
          style="width: 100%;"><span class="name-app text-center" style="display: none;">FreeOffice
          TextMaker</span><span class="text-muted" style="display: none;">The TextMaker word processor lets you
          work on any type of document.</span><span style="display: none;"></span></button>
      <button title="Guilded">
        <img src=" file:///usr/share/icons/hicolor/64x64/apps/guilded.png" class="img-fluid" style="width: 100%;"><span
          class="name-app text-center" style="display: none;">Guilded</span><span class="text-muted"
          style="display: none;">www.guilded.gg</span><span style="display: none;"></span>
      </button>
      <button title="Hardware Locality lstopo">
        <img src="file:///usr/share/icons/Fluent-teal-dark/scalable/apps/hwloc.svg" class="img-fluid"
          style="width: 100%;"><span class="name-app text-center" style="display: none;">Hardware
          Locality
          lstopo</span><span class="text-muted" style="display: none;">Show hardware topology</span><span
          style="display: none;">System Utility</span>
      </button>
      <button title="Middle-earth™: Shadow of Mordor™"><img
          src="file:///home/pato/.local/share/icons/hicolor/64x64/apps/steam_icon_241930.png" class="img-fluid"
          style="width: 100%;"><span class="name-app text-center" style="display: none;">Middle-earth™: Shadow of
          Mordor™</span><span class="text-muted" style="display: none;">Play this game on Steam</span><span
          style="display: none;"></span></button>
      <button data-bs-toggle="tooltip" data-bs-placement="top" title="OBS Studio"><img
          src="file:///usr/share/icons/Fluent-teal-dark/scalable/apps/com.obsproject.Studio.svg" class="img-fluid"
          style="width: 100%;"><span class="name-app text-center" style="display: none;">OBS
          Studio</span><span class="text-muted" style="display: none;">Free and Open Source Streaming/Recording
          Software</span><span style="display: none;"></span></button>
      <button data-bs-toggle="tooltip" data-bs-placement="top" title="Qt Assistant"><img
          src="file:///usr/share/icons/Fluent-teal-dark/scalable/apps/assistant.svg" class="img-fluid"
          style="width: 100%;"><span class="name-app text-center" style="display: none;">Qt Assistant</span><span
          class="text-muted" style="display: none;">Shows Qt documentation and examples</span><span
          style="display: none;"></span></button>
      <button data-bs-toggle="tooltip" data-bs-placement="top" title="Qt QDBusViewer "><img
          src="file:///usr/share/icons/Fluent-teal-dark/scalable/apps/qdbusviewer.svg" class="img-fluid"
          style="width: 100%;"><span class="name-app text-center" style="display: none;">Qt
          QDBusViewer
        </span><span class="text-muted" style="display: none;">Debug D-Bus applications</span><span
          style="display: none;"></span></button>
      <button data-bs-toggle="tooltip" data-bs-placement="top" title="Qt V4L2 test Utility"><img
          src="file:///usr/share/icons/Fluent-teal-dark/scalable/apps/qv4l2.svg" class="img-fluid"
          style="width: 100%;"><span class="name-app text-center" style="display: none;">Qt V4L2 test
          Utility</span><span class="text-muted" style="display: none;">Allow testing Video4Linux
          devices</span><span style="display: none;">video grabber V4L</span></button>
      <button title="Qt V4L2 video capture utility"><img
          src="file:///usr/share/icons/Fluent-teal-dark/scalable/apps/qvidcap.svg" class="img-fluid"
          style="width: 100%;"><span class="name-app text-center" style="display: none;">Qt V4L2 video capture
          utility</span><span class="text-muted" style="display: none;">Viewer for video capture</span><span
          style="display: none;">video grabber V4L</span></button>
      <button title="Software Token"><img
      src=" file:///usr/share/icons/Fluent-teal-dark/scalable/apps/stoken-gui.svg" class="img-fluid"
        style="width: 100%;"><span class="name-app text-center" style="display: none;">Software
          Token</span><span class="text-muted" style="display: none;">RSA SecurID-compatible software
          token</span><span style="display: none;">RSA SecurID Authenticator</span></button>
      <button title="Software Token (small)"><img
          src="file:///usr/share/icons/Fluent-teal-dark/scalable/apps/stoken-gui.svg" class="img-fluid"
          style="width: 100%;"><span class="name-app text-center" style="display: none;">Software
          Token
          (small)</span><span class="text-muted" style="display: none;">RSA SecurID-compatible software
          token</span><span style="display: none;">RSA SecurID Authenticator</span></button>
      <button title="UXTerm"><img
      src=" file:///usr/share/icons/Fluent-teal-dark/scalable/apps/xterm-color_48x48.svg" class="img-fluid"
        style="width: 100%;"><span class="name-app text-center" style="display: none;">UXTerm</span><span
          class="text-muted" style="display: none;">xterm wrapper for Unicode
          environments</span><span style="display: none;">shell prompt command commandline cmd</span></button>
      <button title="Warp
      src=" file:///usr/share/icons/hicolor/256x256/apps/dev.warp.Warp.png" class="img-fluid"
        style="width: 100%;"><span class="name-app text-center" style="display: none;">Warp</span><span
          class="text-muted" style="display: none;">None</span><span style="display: none;">shell prompt command
          commandline cmd</span></button>
      <button data-bs-toggle="tooltip" data-bs-placement="top" title="Winetricks">
        <img src="file:///usr/share/icons/Fluent-teal-dark/scalable/apps/winetricks.svg" class="img-fluid"
          style="width: 100%;">
        <span class="name-app text-center" style="display: none;">Winetricks</span>
        <span class="text-muted" style="display: none;">Work around problems
          and install applications under
          Wine</span>
        <span style="display: none;"></span>
      </button>
      <button title="XTerm">
        <img src=" file:///usr/share/icons/Fluent-teal-dark/scalable/apps/xterm-color_48x48.svg" class="img-fluid"
          style="width: 100%;">
        <span class="name-app text-center" style="display: none;">XTerm</span>
        <span class="text-muted" style="display: none;">standard terminal emulator
          for the X window system</span>
        <span style="display: none;">shell prompt command commandline
          cmd</span>
      </button>

    </div>
  </div>



</body>

</html>