@layer components {
  .slide {
    @apply bg-cover;
    @apply bg-center;
    @apply h-auto;
    @apply text-white;
    @apply py-24;
    @apply px-10;
    @apply object-fill;
    @apply rounded-vsk;
    @apply aspect-video;
    width: 100%;
  }

  .componere-cta-section {
    @apply absolute;
    @apply bottom-3;
    @apply content-center;
    width: calc(100% - 164px);
    @apply text-center;
  }

  .componere-cta-section button {
    @apply bg-vsk;
    @apply text-white;
    @apply py-3;
    @apply px-5;
    @apply rounded-full;
    @apply mx-3;
  }

  .componere-user-cta-button {
    @apply bg-vsk;
    @apply flex;
    @apply w-full;
    @apply justify-center;
    @apply rounded-vsk;
    @apply bg-vsk;
    @apply px-3;
    @apply py-1.5;
    @apply font-semibold;
    @apply leading-6;
    @apply text-white;
    @apply shadow-sm;
    @apply focus-visible:outline;
    @apply focus-visible:outline-2;
    @apply focus-visible:outline-offset-2;
  }

  .componere-user-input {
    @apply block;
    @apply w-full;
    @apply rounded-vsk;
    @apply border-0;
    @apply py-1.5;
    @apply shadow-sm;
    @apply ring-1;
    @apply ring-inset;
    @apply focus:ring-2;
    @apply focus:ring-inset;
    @apply focus:ring-vsk;
    @apply sm:text-sm;
    @apply sm:leading-6;
  }

  .componere-disk-space {
    @apply relative;
    @apply w-full;
    @apply bg-gray-200;
    @apply rounded-vsk;
    @apply h-12;
    @apply my-2;
  }

  .componere-disk-partition {
    @apply float-left;
    @apply top-0;
    @apply h-full;
  }

  .componere-disk-partition p {
    @apply flex;
    @apply flex-wrap;
    @apply flex-col;
    @apply justify-items-center;
    @apply items-center;
    @apply justify-center;
    @apply h-full;
  }

  .componere-disk-partition:first-child {
    @apply rounded-tl-vsk;
    @apply rounded-bl-vsk;
  }

  .componere-disk-partition:last-child {
    @apply rounded-tr-vsk;
    @apply rounded-br-vsk;
  }

  .card-head-disk {
    @apply flex;
    @apply flex-wrap;
    @apply justify-items-center;
    @apply items-center;
    @apply flex-row;
  }

  .card-head-disk img {
    @apply h-20;
    @apply w-20;
  }

  .card-head-disk-info {
    @apply pl-3;
    width: calc(100% - 80px);
  }
}
