<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="icon" href="./favicon.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Navale</title>
  <link rel="stylesheet" href="../../../css/style.css">
</head>

<body>
  <nav id="app" class="navale">
    <div class="navale-applications-zone">
      <a href="#">
        <img src="/usr/share/icons/Fluent-teal-dark/scalable/apps/image-missing.svg" title="pato@TUFMaster:~"
          alt="pato@TUFMaster:~">
      </a>
      <a href="#">
        <img src="/usr/share/icons/Fluent-teal-dark/scalable/apps/org.gnome.nautilus.svg" title="apps" alt="apps">
      </a>
      <a href="#"><img src="/usr/share/icons/Fluent-teal-dark/scalable/apps/org.gnome.nautilus.svg" title="Descargas"
          alt="Descargas">
      </a>
      <a href="#">
        <img src="/usr/share/icons/Fluent-teal-dark/scalable/apps/code.svg"
          title="sidebar.css - VasakOS-Linux (área de trabajo) - Visual Studio Code"
          alt="sidebar.css - VasakOS-Linux (área de trabajo) - Visual Studio Code">
      </a>
      <a href="#">
        <img src="/usr/share/icons/Fluent-teal-dark/scalable/apps/image-missing.svg"
          title="pato@TUFMaster:/mnt/FAD49A00D499BEF7/Code/Personal/website"
          alt="pato@TUFMaster:/mnt/FAD49A00D499BEF7/Code/Personal/website">
      </a>
      <a href="#">
        <img src="/usr/share/icons/Fluent-teal-dark/scalable/apps/google-chrome.svg" title="Occasum - Google Chrome"
          alt="Occasum - Google Chrome">
      </a>
      <a href="#">
        <img src="/usr/share/icons/Fluent-teal-dark/scalable/apps/image-missing.svg"
          title="PatoJAD Community (Linux, Gaming y Tecnología) – (9)"
          alt="PatoJAD Community (Linux, Gaming y Tecnología) – (9)">
      </a>
    </div>
    <a class="navale-menu" href="#">
      <img src="file:///usr/share/icons/Fluent-teal-dark/scalable/apps/applications-all.svg" title="Hydriam" alt="Menu">
    </a>
    <div class="navale-notification-area">
      <div id="network">
        <img title="Conexión cableada 1"
          src="file:///usr/share/icons/Fluent-teal-dark/symbolic/status/network-wired-symbolic.svg"
          class="img-fluid dock-system-icon" alt="Conexión cableada 1">
      </div>
      <div id="clock">
        <span title="22/02/2024">14:31</span>
      </div>
    </div>
  </nav>

</body>

</html>