<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="icon" href="./favicon.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Navale</title>
  <link rel="stylesheet" href="../../../css/style.css">
</head>

<body>
  <nav id="app" class="navale">
    <div class="navale-applications-zone">
      <a class="navbar-brand" href="#">
        <img src="/usr/share/icons/Fluent-teal-dark/scalable/apps/image-missing.svg" data-bs-toggle="tooltip"
          data-bs-placement="left" title="pato@TUFMaster:~" class="img-fluid win-img" alt="pato@TUFMaster:~">
      </a>
      <a class="navbar-brand" href="#">
        <img src="/usr/share/icons/Fluent-teal-dark/scalable/apps/org.gnome.nautilus.svg" data-bs-toggle="tooltip"
          data-bs-placement="left" title="apps" class="img-fluid win-img" alt="apps">
      </a>
      <a class="navbar-brand" href="#"><img src="/usr/share/icons/Fluent-teal-dark/scalable/apps/org.gnome.nautilus.svg"
          data-bs-toggle="tooltip" data-bs-placement="left" title="Descargas" class="img-fluid win-img" alt="Descargas">
      </a>
      <a class="navbar-brand" href="#">
        <img src="/usr/share/icons/Fluent-teal-dark/scalable/apps/code.svg" data-bs-toggle="tooltip"
          data-bs-placement="left" title="sidebar.css - VasakOS-Linux (área de trabajo) - Visual Studio Code"
          class="img-fluid win-img" alt="sidebar.css - VasakOS-Linux (área de trabajo) - Visual Studio Code">
      </a>
      <a class="navbar-brand" href="#">
        <img src="/usr/share/icons/Fluent-teal-dark/scalable/apps/image-missing.svg" data-bs-toggle="tooltip"
          data-bs-placement="left" title="pato@TUFMaster:/mnt/FAD49A00D499BEF7/Code/Personal/website"
          class="img-fluid win-img" alt="pato@TUFMaster:/mnt/FAD49A00D499BEF7/Code/Personal/website">
      </a>
      <a class="navbar-brand" href="#">
        <img src="/usr/share/icons/Fluent-teal-dark/scalable/apps/google-chrome.svg" data-bs-toggle="tooltip"
          data-bs-placement="left" title="Occasum - Google Chrome" class="img-fluid win-img"
          alt="Occasum - Google Chrome">
      </a>
      <a class="navbar-brand" href="#">
        <img src="/usr/share/icons/Fluent-teal-dark/scalable/apps/image-missing.svg" data-bs-toggle="tooltip"
          data-bs-placement="left" title="PatoJAD Community (Linux, Gaming y Tecnología) – (9)"
          class="img-fluid win-img" alt="PatoJAD Community (Linux, Gaming y Tecnología) – (9)">
      </a>
    </div>
    <a class="navale-menu" href="#">
      <img src="file:///usr/share/icons/Fluent-teal-dark/scalable/apps/applications-all.svg" data-bs-toggle="tooltip"
        data-bs-placement="left" title="Hydriam" class="img-fluid dock-menu-launcher-icon" alt="Menu">
    </a>
    <div class="navale-notification-area">
      <div id="network">
        <img data-bs-toggle="tooltip" data-bs-placement="left" title="Conexión cableada 1"
          src="file:///usr/share/icons/Fluent-teal-dark/symbolic/status/network-wired-symbolic.svg"
          class="img-fluid dock-system-icon" alt="Conexión cableada 1">
      </div>
      <div id="clock">
        <span data-bs-toggle="tooltip" data-bs-placement="left" title="22/02/2024">14:31</span>
      </div>
    </div>
  </nav>

</body>

</html>