@layer components {
  .window {
    @apply background;
    @apply rounded-b-vsk;
    height: calc(100vh - 30px);
  }

  .window-topbar {
    @apply w-screen;
    height: 30px;
    @apply flex;
    @apply items-center;
    @apply justify-between;
    @apply bg-vsk;
    @apply rounded-t-vsk;
    padding: 2px 10px;
  }

  .window-topbar img {
    height: 26px;
    width: auto;
  }

  .win-button {
    @apply px-2;
    @apply no-underline;
  }
}
