.vsk-loading-cover {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	border-radius: var(--system-border);
	background: var(--system-background);
	z-index: 9998;
}

.vsk-loading {
	position: absolute;
	top: calc(50% - 40px);
	left: calc(50% - 40px);
	width: 80px;
	height: 80px;
	z-index: 9999;
}

.vsk-loading div {
	position: absolute;
	top: 33px;
	width: 13px;
	height: 13px;
	border-radius: 50%;
	background: var(--system-color);
	animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.vsk-loading div:nth-child(1) {
	left: 8px;
	animation: vsk-loading1 0.6s infinite;
}

.vsk-loading div:nth-child(2) {
	left: 8px;
	animation: vsk-loading2 0.6s infinite;
}

.vsk-loading div:nth-child(3) {
	left: 32px;
	animation: vsk-loading2 0.6s infinite;
}

.vsk-loading div:nth-child(4) {
	left: 56px;
	animation: vsk-loading3 0.6s infinite;
}
