.sidebar {
  background-color: var(--system-background);
  height: calc(100vh - 30px);

  .nav-item{
    color: var(--system-font-color);
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    border-radius: var(--system-border);

    &:hover {
      background: var(--system-color);  
    }
  }
}

.side-content-area{
  height: calc(100vh - 30px);
  overflow: auto;
}