<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="../../../css/style.css" rel="stylesheet">
  <script src="qrc:///qtwebchannel/qwebchannel.js"></script>

  <title>Componere</title>
  <script type="module" crossorigin="" src="./assets/index-reHyCQNv.js"></script>
  <link rel="stylesheet" crossorigin="" href="./assets/index-CgqhYRrF.css">
</head>

<body style="--system-rounded:14px; --system-accent-color:#0bc98c;">
  <div id="app" data-v-app="">
    <div data-v-a3a2f8d8="" class="window-topbar">
      <div data-v-a3a2f8d8=""><img data-v-a3a2f8d8=""
          src="/usr/share/icons/Fluent-teal-dark/scalable/apps/calamares.svg" class="img-fluid win-icon"></div>
      <div data-v-a3a2f8d8="">Componere</div>
      <div data-v-a3a2f8d8=""><a data-v-a3a2f8d8="" class="win-button" href="#">_</a><a data-v-a3a2f8d8=""
          class="win-button" href="#">[]</a><a data-v-a3a2f8d8="" class="win-button" href="#">X</a></div>
    </div>
    <div class="window">
      <div class="flex">
        <div class="sidebar"><a href="#" class="sidebar-button"><img
              src="/usr/share/icons/Fluent-teal-dark/scalable/apps/start-here-archlinux.svg" class="img-fluid"></a><a
            href="#" class="sidebar-button"><img src="/usr/share/icons/Fluent-teal-dark/scalable/apps/user_icon.svg"
              class="img-fluid"></a><a href="#" class="sidebar-button"><img
              src="/usr/share/icons/Fluent-teal-dark/scalable/apps/disks.svg" class="img-fluid"></a><a href="#"
            class="sidebar-button"><img src="/usr/share/icons/Fluent-teal-dark/scalable/apps/help-info.svg"
              class="img-fluid"></a></div>
        <div class="p-3 col side-content-area">
          <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
            <div class="sm:mx-auto sm:w-full sm:max-w-sm"><img class="mx-auto h-24 w-auto"
                src="/usr/share/icons/Fluent-teal-dark/scalable/apps/user_auth.svg" alt="Add user"></div>
            <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
              <form class="space-y-6">
                <div><label for="email" class="block text-sm font-medium leading-6">Usuario</label>
                  <div class="mt-2"><input id="username" name="username" type="text" required=""
                      class="componere-user-input">
                  </div>
                </div>
                <div>
                  <div class="flex items-center justify-between"><label for="password"
                      class="block text-sm font-medium leading-6 text-gray-900">Password</label></div>
                  <div class="mt-2"><input id="password" name="password" type="password" required=""
                      class="componere-user-input">
                  </div>
                </div>
                <div><button type="submit"
                    class="componere-user-cta-button">
                    + </button></div>
              </form>
              
            </div>
          </div>
          <div class="componere-cta-section"><button>🢘</button><button>🢚</button></div>
        </div>
      </div>
      <div class="win-edge win-edge-top"></div>
      <div class="win-edge win-edge-left"></div>
      <div class="win-edge win-edge-right"></div>
      <div class="win-edge win-edge-bottom"></div>
      <div class="win-edge win-edge-topleft"></div>
      <div class="win-edge win-edge-bottomleft"></div>
      <div class="win-edge win-edge-topright"></div>
      <div class="win-edge win-edge-bottomright"></div>
    </div>
  </div>


</body>

</html>