<div class="card flex">
  <div class="flex-none w-48 relative">
    <img class="absolute top-0 left-0 w-48 h-48 object-cover" :src="img" alt="Disk icon" />
  </div>
  <div class="flex-auto p-8">
    <h2 class="card-title">Titulo</h2>
    <slot />
  </div>
</div>

<div class="card warn-card flex">
  <div class="flex-none w-48 relative">
    <img class="absolute top-0 left-0 w-48 h-48 object-cover" :src="img" alt="Disk icon" />
  </div>
  <div class="flex-auto p-8">
    <h2 class="card-title">Titulo</h2>
    <slot />
  </div>
</div>